<ion-content>

    <!-- header app -->


    <!-- content -->
    <ion-grid>
        <ion-row *ngIf="categories" class="catList">
            <!-- loop for each categorie item -->
            <ion-col class="imgCat" *ngFor="let cat of categories">
                <div (click)="selectedCat = cat.name">
                    <ion-img [src]="'./assets/images/' + cat.fileName"></ion-img>
                    <span>{{cat.name}}</span>
                </div>
            </ion-col>
        </ion-row>

        <!-- pub section -->
        <ion-row class="addsList ion-align-items-center ion-hide-md-down">
            <ion-col size="4">
                <ion-text>
                    <h3>Crave it? Get it!</h3>
                    <p>Search for a restaurant, cuisine or dish...</p>
                </ion-text>
            </ion-col>
            <ion-col size="4" class="ion-padding">
                <div [style.backgroundImage]="'url(./assets/images/images-001.jpg)'"></div>
            </ion-col>
            <ion-col size="4" class="ion-padding-start">
                <div class="ion-padding" [style.backgroundImage]="'url(./assets/images/images-002.jpg)'">
                    <div class="withMask">
                    <ion-text color="light">
                        <h3>En exculisivité</h3>
                        <span>Ici et nulle part ailleurs !</span>
                    </ion-text>
                    <ion-button size="small" color="light">Je suis curieux</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="main">
        <ion-row class="">
            <!-- filter section -->
            <ion-col size="4" class="stickyWrapper">
                <div>
                    <form [formGroup]="form">
                        <ion-label>
                            {{ selectedCat ? selectedCat : 'All stores' }}
                        </ion-label>
                        <ion-list lines="none" class="ion-no-padding">
                            <ion-radio-group formControlName="sortBy">
                                <ion-list-header>
                                    <ion-label>
                                        Sort
                                    </ion-label>
                                </ion-list-header>
                                <ion-item>
                                    <ion-radio slot="start" value="picked"></ion-radio>
                                    <ion-label>
                                        Picked for you (default)
                                    </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-radio slot="start" value="popular"></ion-radio>
                                        <ion-label>
                                            Most popular
                                        </ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-radio slot="start" value="rating"></ion-radio>
                                        <ion-label>
                                            Rating
                                        </ion-label>
                                </ion-item>
                            </ion-radio-group>
                            <ion-list-header class="ion-margin-top">
                                <ion-label>
                                    Max Delivery Fee
                                </ion-label>
                            </ion-list-header>
                            <ion-item>
                                <ion-range formControlName="maxFee" min="4" max="8" step="1" snaps="true" color="primary"></ion-range>
                            </ion-item>
                            <ion-row>
                                <ion-col><small>CHF4</small></ion-col>
                                <ion-col><small>CHF6</small></ion-col>
                                <ion-col><small>CHF7</small></ion-col>
                                <ion-col><small>CHF7+</small></ion-col>
                            </ion-row>
                        </ion-list>
                    </form>
                </div>
            </ion-col>

            <!-- restaurants list section -->
            <ion-col>
                <ion-grid>
                    <!-- in a rush? -->
                    <ion-row class="ion-no-padding ion-padding-bottom ion-margin-bottom">
                        <ion-col size="12" class="ion-padding-start ion-padding-bottom">
                            <ion-label>In a rush ?</ion-label>
                        </ion-col>
                        <ion-col 
                            size="12"
                            size-md="3"
                            *ngFor="let item of restaurants?.slice(0, 21)">
                            <app-resto-card [item]="item"></app-resto-card>
                        </ion-col>
                    </ion-row>

                    <!-- today's offers -->
                    <ion-row>
                        <ion-col size="12" class="ion-padding-start ion-padding-botttom">
                            <ion-label>Today's offers</ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="4" *ngFor="let item of restaurants?.slice(4)">
                            <app-resto-card [item]="item"></app-resto-card>
                        </ion-col>
                    </ion-row>

                    <!-- Buy one, get one free -->
                    <ion-row>
                        <ion-col size="12" class="ion-padding-start ion-padding-bottom">
                            <ion-label>Buy one, get one free</ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="4" *ngFor="let item of restaurants?.slice(8, 12)">
                            <app-resto-card [item]="item"></app-resto-card>
                        </ion-col>
                    </ion-row>

                    <!-- Explore by category -->
                    <ion-row>
                        <ion-col size="12" class="ion-padding-start">
                            <ion-label>Explore by category</ion-label>
                        </ion-col>
                        <ion-col size="4" size-md="2" *ngFor="let cat of categories">
                            <div>
                                <ion-img [src]="'./assets/images/' + cat.fileName"></ion-img>
                                <span>{{ cat.name }}</span>
                            </div>
                        </ion-col>
                    </ion-row>

                    <!-- Popular near you -->
                    <ion-row>
                        <ion-col size="12" class="ion-padding-bottom">
                            <ion-label>Popular near you</ion-label>
                        </ion-col>
                        <ion-col size="12" size-md="4" *ngFor="let item of restaurants?.slice(12)">
                            <app-resto-card [item]="item"></app-resto-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>